<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ITC230 - Home Page</title>

 <link rel="stylesheet" type = "text/css" href ="./css/style.css" />



</head>

<body>
<h1>Add New Book</h1>
<p>Please complete all form fields.</p>
<form action="/add" method="POST">
<label>Title:</label>
<input type="text" name="title" placeholder="Enter your book title"/><br />
<label>Author</label>
<input type="text" name="author" placeholder="Enter book author"/><br />
<label>Publication Date</label>
<input type="text" name="pubdate" placeholder="Enter Pub Date"/><br />


<input type="submit" value="Submit">
</form>


</body>
</html>
