<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ITC230 - Delete Page</title>
<link rel="stylesheet" type = "text/css" href ="./css/style.css" />
</head>

<body>
 <h1>Delete Page</h2>
<h2>Deleting {{title}} ..</h1>
<h3 style="color:red;">Status: {{quantity}} record(s) remained!</h2>
<br />
 <br />
 <a href="./">Go Back Home</a>
</body>
</html>