<html>
    <head>
    <!-- React Library Links  --> 
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
        
        
    <link rel="stylesheet" type = "text/css" href ="./css/style.css" />
    
        
        
    </head>
    
    
    <body>
        
        <div id="root"></div>
       
        
        <script type="text/babel">
     // Component to display Details
    function Bookdetail(props) {
          return (
            <form>
            <table>
            <tbody>
            <tr>
            <td>Title: </td>
            <td><input type="text" name="newtitle" value={props.title} /></td>
            </tr>
             <tr>
            <td>Author: </td>
            <td><input type="text" name="newauthor" value={props.author} /></td>
            </tr>
             <tr>
            <td>Publication:</td>
            <td><input type="text" name="newpubdate" value={props.pubdate} /></td>
            </tr>
            </tbody>
            </table>
           
            </form>
            );
            }
     
        
   class BookApp extends React.Component {
       
       constructor (props) {
           super(props)
           this.showdetail = this.showdetail.bind(this);
            
       //set initial state
           this.state = {
               items:{{{books}}},
               filter:"",
               curItem:{"_id":"123","title":"-","author":"-","pubdate":"0000"}
           }  
       }
       
     
       showdetail(e) {
           var bookId = e.target.id;
          // console.log("-->"+bookId);
           var allBooks = this.state.items;
           var found = allBooks.find((element)=> {
              return element._id.toLowerCase() == bookId.toLowerCase();
            });
           this.setState({curItem:found});
        //console.log("Book Title--> "+found.title);
          
       }
       
   
    
   render() { 
           
    
    const data =this.state.items;
    const listItems = data.map((d) => <li key={d.title}><a href="#" id={d._id} onClick = {this.showdetail}>{d.title}</a></li>);
    return (
      <div>
      <div className="allbooks"><h1>List of Books:</h1>
      <ol>{listItems }</ol>
      </div>
   
     <div className="bookdetail">
      <h1>Book Details</h1>
      <Bookdetail title={this.state.curItem.title} author={this.state.curItem.author} pubdate={this.state.curItem.pubdate} />
      </div>
      </div>
      
    );
  } 
} 
  
        ReactDOM.render (<BookApp />, document.getElementById('root'));
          
         
         
        </script>
    </body>
    </html>