<html>
    <head>
        <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
        
    </head>
    
    
    <body>
        
        <div id="root"></div>
        <hr />
        <h1>Book Detail:</h1>
        <div><ul id="detailroot"></ul></div>
        
        <script type="text/babel">
        
   class BookApp extends React.Component {
       
       constructor (props) {
           super(props)
           this.showdetail = this.showdetail.bind(this);
            
       //set initial state
           this.state = {
               items:{{{books}}},
               filter:"",
               curlItem:{}
           }  
       }
       
       showdetail(e) {
           var bookTitle = e.target.id;
           var allBooks = this.state.items;
           var found = allBooks.find(function(element) {
              return element.title.toLowerCase() == bookTitle.toLowerCase();
            });
          
            const result = <ul><li>Title: {found.title}</li><li>Author: {found.author}</li><li>Publication: {found.pubdate}</li></ul>; 
            // ReactDOM.render(result,document.getElementById('root'));
            console.log("Book Title--> "+found.title);
          
       }
       
       render() { 
        
          
           
    const data =this.state.items;
    const listItems = data.map((d) => <li key={d.title}><a href="#" id={d.title} onClick = {this.showdetail}>{d.title}</a></li>);
    return (
      <div>
      <h1>List of Books:</h1>
      {listItems }
      
      </div>
      
    );
  } 
} 
  
        ReactDOM.render (<BookApp />, document.getElementById('root'));
          
         
         
        </script>
    </body>
    </html>