<html>
    <head>
    <!-- React Library Links  --> 
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
        
        
    <link rel="stylesheet" type = "text/css" href ="./css/style.css" />
    
        
        
    </head>
    
    
    <body>
        
        <div id="root"></div>
       
        
        <script type="text/babel">
     // Component to display Details
    function Bookdetail(props) {
          return (
            <div>       
             <form>
        <label>Filter:  </label>
         <input type="text" value={""}  onChange={props.change}  />
         <br />(Enter * or Space to see all items)<br />
            <table>
            <tbody>
            <tr>
            <td>Title: </td>
            <td><input type="text" name="newtitle" value={props.title || ""} /></td>
            </tr>
             <tr>
            <td>Author: </td>
            <td><input type="text" name="newauthor" value={props.author || ""} /></td>
            </tr>
             <tr>
            <td>Publication:</td>
            <td><input type="text" name="newpubdate" value={props.pubdate || ""} /></td>
            </tr>
            </tbody>
            </table>
   </form>
           
            

             <button onClick={props.update}>Update</button>
             <button onClick={props.reset}>Reset</button> 
             <button onClick={props.delete}>Delete</button> 
             </div>
            );
            }
     
        
   class BookApp extends React.Component {
       
       constructor (props) {
           super(props)
           this.showdetail = this.showdetail.bind(this);
           this.onDelete = this.onDelete.bind(this);
         this.onUpdate = this.onUpdate.bind(this);
           this.onReset = this.onReset.bind(this);
           this.onChange = this.onChange.bind(this);
            
       //set initial state
           this.state = {
               items:{{{books}}},
               filter:"",
               curItem:{"_id":"123","title":"-","author":"-","pubdate":"0000"}
           }  
       }
       
     
       showdetail(e) {
           var bookId = e.target.id;
           var allBooks = this.state.items;
           var found = allBooks.find((element)=> {
              return element._id.toLowerCase() == bookId.toLowerCase();
            });
           this.setState({curItem:found});
        
       }
       
       
      // handle filter 
         onChange(e) {
         console.log("My Input-->"+ e.target.value);
         this.setState({filter:e.target.value});
          }
       
   // clear details form
    onReset() {
        this.setState({curItem: {"title":"-","author":"-","pubdate":2018}});
        
      }
   
    onDelete(){
        
        console.log("*****TEST--TEST");
        let title = this.state.curItem.title;
       //  path     /api/v1/book/delete/:title
       // console.log(title);
        fetch('/api/v1/book/delete/' + title).then((response) => {
            console.log(response);
            alert("Title-->"+title+"  Result-->"+JSON.stringify(response));
          return response.json();
        }).then((results) => {
        
          const newArray = this.state.items.filter((item) => {
            return item.title !== title;
          });
          // New array updates here - changing state
          this.setState({items: newArray, curItem: {}});
        });
      }
   
 
 onUpdate(){
        
       
        let title = this.state.curItem.title;
       //  path     /api/v1/book/delete/:title
       // console.log(title);
        fetch('/api/v1/book/delete/' + title).then((response) => {
            console.log(response);
            alert("Title-->"+title+"  Result-->"+JSON.stringify(response));
          return response.json();
        }).then((results) => {
        
          const newArray = this.state.items.filter((item) => {
            return item.title !== title;
          });
          // New array updates here - changing state
          this.setState({items: newArray, curItem: {}});
        });
      }
   
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
   render() { 
          
    let data =this.state.items;  //I am using regex to filter
    let myRegexString = "^"+this.state.filter.toLowerCase();
      if(myRegexString=="^*" || myRegexString=="^ "){
        myRegexString = "^[a-zA-Z0-9_.-]*$";
    }
    let myRegex = new RegExp(myRegexString);
    
    data = data.filter(function(item){
       return  myRegex.test(item.title.toLowerCase());
    }).map(function({_id, title, author, pubdate}){
        return {_id, title, author, pubdate};
    });

    const listItems = data.map((d) => <li key={d.title}><a href="#" id={d._id} onClick = {this.showdetail}>{d.title}</a></li>);
    return (
      <div>
      <div className="allbooks"><h1>List of Books:</h1>
      <ol>{listItems}</ol>
      </div>
   
     <div className="bookdetail">
      <h1>Book Details</h1>
      <Bookdetail reset={this.onReset} delete={this.onDelete} change={this.onChange} update={this.onUpdate} title={this.state.curItem.title} author={this.state.curItem.author} pubdate={this.state.curItem.pubdate} />
      
      </div>
      </div>
      
    );
  } 
} 
  
        ReactDOM.render (<BookApp />, document.getElementById('root'));
          
         
         
        </script>
    </body>
    </html>