<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ITC230 - Details Page</title>

</head>

<body>
<h1>Searching for {{title}}{{wrongTitle}}</h1>

<br />

{{#if result}}
    <li>Title: {{ title }}</li>
    <li>Author: {{ author }}</li>
    <li>Publication Date: {{ pubdate }}</li>
    
    <br />
 <br />
    
     <a href="./delete?title={{ title }}">Delete Record</a>
    
  {{else}}
    {{msg}}
    
{{/if}}
<br />
 <br />
 <a href="./">Go Back Home</a>

</body>
</html>