<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ITC230 - Home Page</title>

 <link rel="stylesheet" type = "text/css" href ="./css/style.css" />



</head>

<body>
<form action="/detail" method="POST">
<label>Search: </label><input type="text" name="title" placeholder="Enter your book title"/><input type="submit" value="Submit">
</form>

<h1>Home Page</h1>
<h2>ITC230 - Advance JavaScript</h2>
<h2>Spring Quarter - 2018</h2>

<ul>
<li>Name: Kianoush Moradian</li>
<li>You can call me Kia</li>
<li>Course: ITC230 - Advance JavaScript</li>
</ul>

 <h3>Availble Books</h3>
  {{#if books}}
  <ul>
 {{#each books}}
 <li><a href="./list?title={{ title }}">{{ title }}</a></li>
{{/each}}
 </ul>
{{else}}
 <p>Sorry, there is no book to display!</p>
 {{/if}}
</body>
</html>
